{% extends "_focus.html" %}

{% block pagename %}kata groups {{subfilter}}{% endblock %}
{% block canonicalUrl %}https://{{ site.domain }}/katas/groups/{{subfilter}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="/katas/katas.css" type="text/css">
{% endblock %}

{% block sidebar %}
  <aside>
    <a href="/katas/groups" class="groups">Categories</a>
    <a href="/katas/versions" class="versions">JS Versions</a>
  </aside>
  <aside>
    <a href="/katas/groups/all" class="all">all</a>
    <a href="/katas/groups/level-easy" class="easy">easy</a>
    <a href="/katas/groups/level-medium" class="medium">medium</a>
    <a href="/katas/groups/level-hard" class="hard">hard</a>
  </aside>
{% endblock %}

{% block main %}
  <h2>
    <a>Grouped by Category</a>
    <span class="stats">{{katasCount}} katas</span>
  </h2>
  {% for group in kataGroups %}
    <div class="group ">
      <h3>{{ group[0].groupName }}</h3>
      {% for kata in group %}
        <div class="kata">
          <a href="/katas/{{ kata.siteUrl }}"><kata-name>{{ kata.name }}</kata-name></a>
          {% if kata.isPublished === false %}
            <span class="notification-bubble unpublished">#planned</span>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
