@import "../_global.css";
@import "../_header.css";

@media screen and (min-width: 70rem) {
  body > div {
    flex-direction: column;
  }
}
main {
  flex: 1;
}
aside {
  order: -1;
  align-self: center;
  margin-bottom: var(--spacing-medium);
}
  aside a {
    text-decoration: none;
    font-size: var(--font-size-large);
    padding: var(--spacing-small);
    padding-bottom: 0;
  }
  aside a:hover {
    color: var(--color-foreground-main);
    font-weight: bold;
  }
  .page-kata.versions aside a.versions,
  .page-kata.groups aside a.groups {
    text-decoration: none;
    font-weight: bold;
    border-bottom: 4px solid var(--color-foreground-main)
  }
  aside ~ aside a {
    font-size: var(--font-size-medium);
  }
  .page-kata.groups.all aside ~ aside a.all,
  .page-kata.groups.hard aside ~ aside a.hard,
  .page-kata.groups.medium aside ~ aside a.medium,
  .page-kata.groups.easy aside ~ aside a.easy,
  .page-kata.versions.popular aside ~ aside a.popular,
  .page-kata.versions.chronological aside ~ aside a.chronological
  {
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid var(--color-foreground-main)
  }

h2 .stats {
  display: block;
  color: var(--color-secondary);
  font-size: small;
  font-weight: normal;
  text-decoration: none;
}
h2 a {
  color: var(--color-foreground-main);
  font-size: var(--font-size-larger);
  text-decoration: none;
}

.group {
  display: inline-block;
  vertical-align: top;
  margin: 0 var(--spacing-small) var(--spacing-small) 0;
  padding: var(--spacing-small) var(--spacing-medium);
  border: 1px solid var(--color-foreground-highlight-3rd);
  background-image: linear-gradient(121deg, var(--color-background-main) 50%, var(--color-foreground-highlight-3rd));
}
  .group a {
    display: block;
  }
  .group h3 {
    margin: 0.2em 0;
    font-size: 1.1em;
  }
  @media screen and (max-width: 600px) {
    .group {
      display: block;
      margin-left: 0;
    }
  }

.group .kata {
  display: flex;
  margin-top: var(--distance-small);
}
  .kata:hover .notification-bubble {
    opacity: 0.3;
  }

.notification-bubble {
  color: var(--color-foreground-highlight-2nd);
  margin-left: var(--spacing-small);
  padding: 0 var(--spacing-small);
  font-weight: bold;
}
