{% extends "_focus.html" %}

{% block pagename %}kata{% endblock %}
{% block canonicalUrl %}https://{{ site.domain }}/katas/{{ kataData.siteUrl }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/katas/kata.css" type="text/css">
{% endblock %}

{% block beforeMain %}
  <nav class="breadcrumb">
    {% if breadCrumbs | length > 0 %}
      <ul>
        {% for item in breadCrumbs.slice(0, -1) %}
          {% if item.url %}
            <li><a href="{{ item.url }}">{{ item.title }}</a> &raquo;</li>
          {% else %}
            <li>{{ item.title }} &raquo;</li>
          {% endif %}
        {% endfor %}
        <li>{{ (breadCrumbs | last).title | safe }}</li>
      </ul>
    {% endif %}
  </nav>

  <h1>{{ page.headlineAsHtml | safe }}</h1>
  <p>
    {{ page.abstractAsHtml | safe }}
  </p>
{% endblock %}

{% block main %}

  {{ page.bodyAsHtml | safe }}

  {% if kataData.links.length %}
    <h2>Links</h2>
    <p>
      {% for link in kataData.links %}
        <a href="{{ link.url }}">{{ link.comment }}</a>
        <br/>
        <span class="metadata">
          {% for tag in link.tags %}#{{ tag }} {% endfor %}
        </span>
        <br/>
      {% endfor %}
    </p>
  {% endif %}

{% endblock %}

{% block sidebar %}
  <aside class="box-sidebar-container">
    <aside class="box-sidebar">
      <a class="huge-link-as-button" href="{{ kataData.url }}" target="_blank">Open Kata &#9658;️</a>
      <br/>
      <br/>

      <h2>Required Knowledge</h2>
      {% if requiredKnowledgeKatas.length %}
        <ul style="margin: 1rem">
          {% for kata in requiredKnowledgeKatas %}
            <li>{{ kata.groupName }}:<br/><a href="/katas/{{ kata.siteUrl }}">{{ kata.name }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        No other kata is recommended to have done before doing this one.
        You can basically start learning JS from here ;).
      {% endif %}
    </aside>
    <aside class="box-sidebar">
      <h2>Difficulty Level</h2>
      <p>{{ kataData.level }}</p>

      {% if kataData.readableCreatedAt %}
        <h2>First Published</h2>
        <p>{{ kataData.readableCreatedAt }}</p>
      {% endif %}

<!--      <h2>Stats</h2>-->
<!--      <ul>-->
<!--        <li>12 tests</li>-->
<!--        <li>2 test groups</li>-->
<!--      </ul>-->
    </aside>
  </aside>

  <aside class="box-sidebar-container">
<!--    <aside class="box-sidebar">-->
<!--      <h2>Recommended next katas</h2>-->
<!--      <ul style="margin: 1rem">-->
<!--        <li><a href="">parseInt in depth</a>-->
<!--      </ul>-->
<!--    </aside>-->

    {% if allKatasInGroup.length %}
      <aside class="box-sidebar">
        <h2>All {{ kataData.groupName }} Katas</h2>
        <ul style="margin: 1rem">
          {% for kata in allKatasInGroup %}
            {% if kata.name === kataData.name %}
              <li style="background-color: var(--color-foreground-highlight-2nd); padding: var(--spacing-small);"><kata-name>{{ kata.name }}</kata-name></li>
            {% else %}
              <li><a href="/katas/{{ kata.siteUrl }}"><kata-name>{{ kata.name }}</kata-name></a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </aside>
    {% endif %}
  </aside>
{% endblock %}
