@import "../_global.css";
@import "../_header.css";

h1 {
  text-align: center;
  margin-bottom: var(--spacing-small);
}
h1 ~ p {
  text-align: center;
}

h2:not(:first-of-type) {
  margin-top: var(--spacing-large);
}
