{% extends "_focus.html" %}

{% block pagename %}kata versions {{subfilter}}{% endblock %}
{% block canonicalUrl %}https://{{ site.domain }}/katas/versions/{{subfilter}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="/katas/katas.css" type="text/css">
{% endblock %}

{% block sidebar %}
  <aside>
    <a href="/katas/groups" class="groups">Categories</a>
    <a href="/katas/versions" class="versions">JS Versions</a>
  </aside>
  <aside>
    <a href="/katas/versions/popular" class="popular">popular</a>
    <a href="/katas/versions/chronological" class="chronological">chronological</a>
  </aside>
{% endblock %}

{% block main %}
  {% for bundle in kataBundles %}
    <h2>
      <a href="#bundle-{{ bundle.nameSlug }}" title="{{ bundle.name }}" id="bundle-{{ bundle.nameSlug }}">{{ bundle.name }}</a>
      <span class="stats">{{ bundle.katas | length }} katas</span>
    </h2>

    {% for group in bundle.kataGroups %}
      <div class="group ">
        <h3>{{ group[0].groupName }}</h3>
        {% for kata in group %}
          <div class="kata">
            <a href="/katas/{{ kata.siteUrl }}"><kata-name>{{ kata.name }}</kata-name></a>
            {% if kata.level === 'BEGINNER' %}
              <span class="notification-bubble easy">#easy</span>
            {% endif %}
            {% if kata.isPublished === false %}
              <span class="notification-bubble unpublished">#planned</span>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}

  {% endfor %}
{% endblock %}
