@import "../_global.css";
@import "../_header.css";

.isDraft h1,
.isDraft h2,
.isDraft h2 a
{
  color: var(--color-secondary);
}

article img.preview-image {
  width: 100%;
  max-height: 10rem;
  object-fit: cover;
}

article header {
  margin-bottom: var(--spacing-large);
}
