{% extends "_focus.html" %}

{% block pagename %}blog{% endblock %}
{% block canonicalUrl %}{{ post.canonicalUrl if post.canonicalUrl else 'https://' + site.domain + post.url }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/blog/blog.css" type="text/css">
  <meta property="article:type" content="article" />
  {% for tag in post.tags %}
    <meta property="article:tag" content="{{tag.value}}" />
  {% endfor %}

  <meta property="og:description" content="{{post.abstract}}" />
  <meta property="article:description" content="{{post.abstract}}" />
  <meta name="twitter:description" content="{{post.abstract}}" />

  {% if (post.previewImageUrl) %}
    <meta property="og:image" content="https://{{ site.domain }}{{post.previewImageUrl}}" />
    <meta property="og:image:url"  content="https://{{ site.domain }}{{post.previewImageUrl}}" />
    <meta name="twitter:image" content="https://{{ site.domain }}{{post.previewImageUrl}}" />
  {% endif %}
{% endblock %}

{% block metaTwitterCard %}
  {% if (post.previewImageUrl) %}
    <meta name="twitter:card" content="summary_large_image">
  {% else %}
    {{ super() }}}
  {% endif %}
{% endblock %}

{% block main %}
  <article class="{{ 'isDraft' if post.isDraft else '' }}">

    {% if post.previewImage %}
      <img src="{{ post.previewImage }}" class="preview-image"/>
    {% endif %}

    <header>
      <h1 id="{{post.slug}}" is="more-h1" show-link-on-mouseover>
        {{ post.headlineAsHtml | safe }}
        {{ ' [this is a draft]' if post.isDraft else ''}}
      </h1>
      <div class="metadata">
        Wolfram Kriesing
        - {{ post.dateCreated | toReadableDate }}
        {% if (post.tags.length > 0) %}
          <br/>
          {% for tag in post.tags %}#{{tag.value}} {% endfor %}
        {% endif %}
      </div>
    </header>

    {% if (post.canonicalHint) %}
      <p>
        <a href="{{post.canonicalUrl}}">{{post.canonicalHint}}</a>
      </p>
    {% endif %}

    {{ post.bodyAsHtml | safe }}

    {% if (post.youtubeId) %}
      <iframe width="427" height="240" name="video" src="//www.youtube.com/embed/{{ post.youtubeId }}?start={{ post.videoStartTime }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    {% if (post.vimeoId) %}
      <iframe src="https://player.vimeo.com/video/{{ post.vimeoId }}" width="427" height="240" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% endif %}
  </article>
{% endblock %}

{% block sidebar %}
  <aside class="box-sidebar-container">
    <aside class="box-sidebar">

      <h2>Other Posts</h2>
      <ul style="margin: 1rem">
        {% for post in posts %}
          <li><a href="{{ post.url }}">{{ post.headline }}</a>
        {% endfor %}
      </ul>

    </aside>
  </aside>

  <aside class="box-sidebar-container">
    <aside class="box-sidebar">
    </aside>
  </aside>
{% endblock %}
