<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
  {% set canonicalUrl %}{% block canonicalUrl %}{% endblock %}{% endset %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="mobile-web-app-capable" content="yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Wolfram Kriesing">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.title }} - {{ site.subtitle }}">

  <link rel="preload" href="/_vars.css" as="style">
  <link rel="preload" href="/_reset.css" as="style">
  <link rel="preload" href="/_global.css" as="style">
  <link rel="preload" href="/_header.css" as="style">
  <script src="/components/kata-name.js" type="module"></script>

  {% block metaTwitter %}{% endblock %}

  {% block metaOpenGraph %}{% endblock %}

  <script async defer data-domain="{{ site.domain }}" src="https://plausible.io/js/plausible.js"></script>
  {% if canonicalUrl %}<link rel="canonical" href="{{ canonicalUrl }}">{% endif %}
  <title>{{ pageTitlePrefix|escape }} | {{ site.title }} - {{ site.subtitle }}</title>

  {% block moreHtmlElements %}{% endblock %}
  {% block head %}{% endblock %}
</head>

<body class="page-{% block pagename %}{% endblock %}">
  {% block body %}{% endblock %}
</body>
</html>
