{% extends "_empty.html" %}

{% set canonicalUrl %}{% block canonicalUrl %}{% endblock %}{% endset %}

{% block metaTwitter %}
  {% block metaTwitterCard %}<meta name="twitter:card" content="summary" />{% endblock %}
  <meta name="twitter:site" content="@jskatas" />
  <meta name="twitter:title" content="{{ pageTitlePrefix }}" />
{% endblock %}

{% block metaOpenGraph %}
  <meta property="og:title" content="{{ pageTitlePrefix }}">
  <meta property="og:type" content="website">
  {% if canonicalUrl %}<meta property="og:url" content="{{ canonicalUrl }}">{% endif %}
  <meta property="og:site_name" content="{{ site.title }} - {{ site.subtitle }}">
{% endblock %}

{% block moreHtmlElements %}
  <script async defer type="module" src="https://more-html.github.io/components/src/Heading-loader.js"></script>
{% endblock %}

{% block head %}{% endblock %}

{% import "_parts.html" as parts %}
{% block body %}
  <header>
    <a class="sitename" href="/">
      {{ site.title }}
      <span class="subtitle">
        {{ site.subtitle }}
      </span>
    </a>
    {{ parts.primaryNavigation(navigationItems) }}
  </header>

  {% block beforeMain %}{% endblock %}

  <div>
    <main>
      <div class="box-main-content">
        {% block main %}{% endblock %}
      </div>
    </main>

    {% block sidebar %}
      <aside class="box-sidebar-container">
        <aside class="box-sidebar">
        </aside>
      </aside>

      <aside class="box-sidebar-container">
        <aside class="box-sidebar">
        </aside>
      </aside>
    {% endblock %}
  </div>

  {{ parts.pageFooter(navigationItems) }}
  {{ parts.secondaryNavigation(navigationItems) }}
{% endblock %}
