{% macro _itemsAsListOfLinks(items) %}
  <ul>
    {% for item in items %}
      <li><a href="{{ item.path }}" class="{{ item.pagename }}">{{ item.name }}</a></li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro primaryNavigation(navigationItems) %}
  <nav class="primary">
    {{ _itemsAsListOfLinks(navigationItems) }}
  </nav>
{% endmacro %}

{% macro pageFooter(navigationItems) %}
  <footer>
    <div>
      <h2>Pages</h2>
      {{ _itemsAsListOfLinks(navigationItems) }}
    </div>

    <div>
      <h2>Contact</h2>
      <ul>
        <li>@jskatas on <a href="https://twitter.com/jskatas" rel="me">twitter</a></li>
        <li>Made by <a href="https://twitter.com/wolframkriesing" rel="me">@WolframKriesing</a></li>
        <li>Source Code is at <a href="https://codeberg.org/wolframkriesing" rel="me">codeberg.org</a></li>
        <li><a href="mailto:w+through-jskatas-blog-footer-contact@kriesing.de">Email</a> to author</li>
      </ul>
    </div>
  </footer>
{% endmacro %}

{% macro secondaryNavigation(navigationItems) %}
  <nav class="secondary">
    <div class="menu-button">&#9776;</div>
    {{ _itemsAsListOfLinks(navigationItems) }}
  </nav>
{% endmacro %}


{% macro _backgroundGradient(percent) %}
  background: linear-gradient(to bottom, white 30%, rgba(255,255,255,0.5) 0), linear-gradient(to right, var(--color-overlay) {{ percent }}%, transparent 0)
{% endmacro %}

{% macro _tagsList(groups) %}
  {% for group in groups %}
    <li style="{{ _backgroundGradient(group.gradientWidthInPercent) }}">
      <a href="{{ group.url }}">#{{group.tagSlug}}</a>
    </li>
  {% endfor %}
{% endmacro %}

{% macro tagsNav(topGroups, alphabeticallySortedGroups) %}
  <nav class="tags">
    <header>Tags</header>
    <input type="checkbox" id="which-tags-toggle"/>
    <label for="which-tags-toggle">
      <span class="top10">Top 20</span>
      <span class="all">A-Z ↓</span>
    </label>
    <ol class="top-tags">
      {{ _tagsList(topGroups) }}
    </ol>
    <ol class="tags-alphabetically-sorted">
      {{ _tagsList(alphabeticallySortedGroups) }}
    </ol>
  </nav>
{% endmacro %}

{% macro monthsNav(groups) %}
  <nav class="months">
    <header>Posts by Month</header>
    <ol>
      {% for group in groups %}
      <li style="{{ _backgroundGradient(group.gradientWidthInPercent) }}">
          <a href="{{ group.url }}">{{ group.yearAndMonth | toReadableDate }}</a>
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endmacro %}
